<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Employee</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/employee.css')}}" />
</head>
<header>
  {% include 'topbar.html' %}
</header>

<body>
  <div class="user-general-info-container">
    <div class="photo">
      <img src="{{ url_for('static', filename='images/user.png') }}" alt="user-photo" />
    </div>
    <div class="general-info">
      <p>Name: {{ first_name }} {{ last_name }}</p>
      <p>Email: email</p>
      <p>Phone number: {{ phone }}</p>
      <p>Rut: {{ rut }}</p>
      <p>Position: {{ position }}</p>
    </div>
  </div>
  
  <div class="aditional-info-container">
    <div class="aditional-info">
      <h2>Aditional info</h2>
      <p>Net Amount: ${{ net_amount if net_amount else "Not registered" }}</p>
      <p>Health Plan: {{ health_plan if health_plan else "Not registered" }}</p>
      
      {% if missing_info %}
        <h3>Missing Information:</h3>
        <ul>
          {% for message in missing_info %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>

  <button class="open-button" onclick="openForm()">Add contract</button>

  <div class="form-popup" id="myForm">
    <div class="form-container">
      {% include 'add_contract.html' %}
      <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
    </div>
    <script src="{{ url_for('static', filename='javascript/add_button.js') }}"></script>
  </div>
</body>
</html>
