<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css')}}">
  </head>
  <body>
    <div class="loginbox">
    <h1>login</h1>
      <form action="/" method="POST">
        <input type="text" name="username" placeholder="username" />
        <input type="password" name="password" placeholder="password" />
        <button type="submit">login</button>
      </form>
      <a href="/register">register</a>
    </div>
  </body>
</html>