<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Vacaciones</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">  <!-- Link to your CSS file if needed -->
</head>
<body>
    <h1>Registrar Vacaciones</h1>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <form action="/add_vacation" method="POST" id="vacationForm">
        <label for="colaborador_id">Colaborador ID:</label>
        <input type="number" id="colaborador_id" name="colaborador_id" required min="1" oninput="fetchColaboradorName()"><br>
        
        <span id="colaborador_name" style="font-weight: bold;">Nombre del Colaborador: </span><br>

        <label for="fecha_inicio">Fecha de Inicio:</label>
        <input type="date" id="fecha_inicio" name="fecha_inicio" required><br>

        <label for="fecha_termino">Fecha de Término:</label>
        <input type="date" id="fecha_termino" name="fecha_termino" required><br>

        <button type="submit">Registrar Vacaciones</button>
    </form>

    <!-- JavaScript for fetching the colaborador's name -->
    <script src="{{ url_for('static', filename='javascript/colaborador.js') }}"></script> 

</body>
</html>
