<link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
<div class="top-bar">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/topbar.css') }}">
    <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn"><i class="fa fa-bars"></i> Menu</button>
        <div id="myDropdown" class="dropdown-content">
            <a href="/opcion1">Option 1</a>
            <a href="/opcion2">Option 2</a>
            <a href="/opcion3">Option 3</a>
        </div>
    </div>
    <script src="{{ url_for('static', filename='javascript/dropdown_menu.js') }}"></script>
    <input type="text" id="search-bar" placeholder="Search employees...">
    <nav class="menu-options">
        <a href="/opcion1">Option 1</a>
        <a href="/opcion2">Option 2</a>
        <a href="/opcion3">Option 3</a>
        <!-- Ícono de usuario -->
        <a href="/user"><i class="fa fa-user"></i> User</a>
    </nav>
</div>
<script src="{{ url_for('static', filename='javascript/dropdown_menu.js') }}"></script>