body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f5f5f5;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.table-container {
    width: 45%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    box-sizing: border-box;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.table-scroll {
    width: 100%;
    height: 400px; /* Set fixed height for the scrollable area */
    overflow-y: auto;
    border: 1px solid #ddd; /* Add a light border to make the scrollable area visible */
}

table {
    width: 100%;
    border-collapse: collapse;
}

colgroup {
    width: 100%;
}

thead {
    background-color: #007BFF;
    color: white;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

.add-button {
    background-color: #007BFF;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    width: 90%;
    max-width: 150px;
    margin: 0 auto;
}

.add-button:hover {
    background-color: #0056b3;
}
