/* Global styles */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 20px;
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
}

h2 {
  color: #333;
}

/* General button styling */
button {
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}