body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    justify-content: center; /* Centers items horizontally */
}

.search-bar {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.search-bar input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 300px;
}

.search-bar button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #007bff;
    color: white;
    margin-left: 10px;
}

.search-bar button:hover {
    background-color: #0056b3;
    cursor: pointer;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.widget {
    margin: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    width: 200px;
}

.widget i {
    margin-right: 10px;
    display: flex;
}
