/* static/vacations.css */
body {
    background-color: #f4f4f4;
}

.open-button {
    background-color: #296b2d;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
    max-width: 400px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
}

.form-container .btn.cancel {
    background-color: red;
}
.btn-add-vacation {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.btn-add-vacation:hover {
    background-color: #45a049;
}
    